h1 { font-size: 100px;
    text-align: center;
   background-color: dimgray;
   
}
ul { font-size: large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
body { background-color: darkgray;



}
.mim { font-size: larger;
      



}


.img1 {width: 400px;



}
.img2 { width: 400px;



}
nav a { color: dodgerblue;
    





}
img { font-size: 300px;




}
footer
{ background-color: dimgrey;
    text-align: center;
    font-size: 30px;



}
